ul.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.navbar-ul > li {
  float: left;
}

ul.navbar-ul > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tabs {
  margin-top: 40px;
  margin-bottom: 40px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.margin {
  margin-bottom: 20px;
}

.jic {
  position: relative;
  border-bottom: dotted 1px #ccc;
  cursor: default;
}

.jic:hover {
  border-bottom: dotted 1px #bbb;
}

.jic:hover .jic-container {
  opacity: 1;
  visibility: visible;
}

.jic-container {
  position: absolute;
  z-index: 999;
  text-align: right;
  top: 100%;
  left: 0;
  margin: 5px 0 0;
  background: #fff;
  padding: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms;
}

.jic-rate {
  display: block;
  color: #444;
  white-space: nowrap;
  margin: 5px 0;
}

.jic-currency {
  display: inline-block;
  font-size: 80%;
  color: #777;
  text-transform: uppercase;
}
