.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  background: yellow;
  width: 100%;
  height: 20%;
}

.body {
  background: white;
  width: 100%;
  height: 60%;
}

.bodyContainer {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.bodyColumnBlue {
  width: 30%;
  height: 100%;
  background: blue;
  border: 2px solid black;
  z-index: 100;
}

.bodyBlockRed {
  width: 100%;
  height: 50px;
  margin-top: 530px;
  text-align: center;
  background: red;
  /* border: 2px solid black; */
  z-index: 100;
}

.headBlockWhite {
  width: 20%;
  height: 50px;
  margin-top: 90px;
  margin-left: 20px;
  text-align: center;
  background: white;
  border: 2px solid black;
  z-index: 100;
}

.bodyColumnWhite {
  width: 30%;
  height: 100%;
  background: white;
  border: 2px solid black;
  z-index: 100;
}

.footer {
  background: yellow;
  width: 100%;
  height: 20%;
}
